{% extends 'base.html' %}
{% block main %}

<div class="row ">
  <style>
    .demon{
      background-image: url(../static/img/R.jpg);
      background-size: cover;
      width: 100vw;
      display: flex;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #os{
      background-color: rgba(20, 129, 231, 0.815);
      width: 70vw;
      height:60vh;

    }
  </style>
    <div class="col-sm-12 textarea-center demon ">
        <h2 class="text mt-3 mb-3 text-white">Contact Us</h2>
       <div class="row">
        <div class="col-sm-8 mx-auto"></div>
        {% if messages %}
         {% for m in messages %}
         <div class="alert alert-warning alert-dismissible fade show" role="alert">
         <strong>{{m}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
         {% endfor %}
        {% endif %}
        <div id="os" class="card p-4 mb-5">
           <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
             <div  class="form-group mt-2">
                <label class="form-label"> Name</label>
                <input type="text" name="name" class="form-control" placeholder=" Name">
             </div>
              <div class="form-group mt-2">
              <label class="form-label">Contactno</label> 
              <input type="number" name="contactno" class="form-control" placeholder="Contactno"> 
              </div>
                <div class="form-group mt-2">
              <label class="form-label">Email</label> 
              <input type="email" name="email" class="form-control" placeholder="Email"></textarea> 
              </div>
             <div class="form-group mt-2">
              <label class="form-label">Messages</label> 
              <textarea name="address" class="form-control" placeholder="Messages"></textarea> 
              </div>
              <div class="text-center mt-2">
                <button  type="submit"class="btn btn-secondary px-5">Submit</button>
              </div>
           </form > 
        </div>

        </div>
       </div>
    </div>
</div>    
{% endblock %}