{% extends 'base.html' %}
{% block main %}

<div class="row">
    <div class="col-sm-12">
        <!-- slider start-->
        <div class="row ">
            <div class="col-sm-12 m-0 p-0">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active m-0 p-0">
                            <img src="static/img/Banner-gold-bar (1).jpg" height="450px" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="static/img/19.jpg" height="450px" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="static/img/60.jpg" height="450px" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
          <!-- .slider end -->
    </div>
</div>
      
{% endblock %}